<div class='list schedList'>
	<div class='card'>
		<div class='item item-text-wrap'>
			<h1>Schedule</h1>
		</div>
	</div>
	<label class='item item-input'>
		<input type='text' class='schedItem pOne' ng-model='pOne' placeholder='Period 1'>
	</label>
	<label class='item item-input'>
	 	<input type='text' class='schedItem pTwo' ng-model='pTwo' placeholder='Period 2'>
	</label>
	<label class='item item-input'>
		<input type='text' class='schedItem pThree' ng-model='pThree' placeholder='Period 3'>
	</label>
	<label class='item item-input'>
		<input type='text' class='schedItem pFour' ng-model='pFour' placeholder='Period 4'>
	</label>
	<label class='item item-input'>
		<input type='text' class='schedItem pFive' ng-model='pFive' placeholder='Period 5'>
	</label>
	<label class='item item-input'>
		<input type='text' class='schedItem pSix' ng-model='pSix' placeholder='Period 6'>
	</label>
	<label class='item item-input'>
		<input type='text' class='schedItem pSeven' ng-model='pSeven' placeholder='Period 7'>
	</label>
	<label class='item item-input'>
		<input type='text' class='schedItem pEight' ng-model='pEight' placeholder='Period 8'>
	</label>
	<button class='schedSubmit button button-positive'>Save</button> 
</div>
